
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Silkscreen&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;

}

hr {
  margin: 15px auto;
}

body {
  font-family: "DM Sans";
  color: white;
  background-color: #111;
  text-align: center;
}

h1 { font-family: "Silkscreen"; }

a {
  font-family: "DM Sans";
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
a:hover {
  color: #333
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s;
}

.link:hover {
  color: #333;
}

.link2 {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-family: "DM Sans";
  transition: all 0.6s;
  border-radius: 5px;
}

.link2:hover {
  color: #333;
  background-color: #fff;
}

.linkbug404 {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-family: "DM Sans";
  transition: all 0.6s;
  border-radius: 5px;
}

.linkbug404:hover {
  color: #333;
  background-color: #fff;
}

footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 5px;
  font-family: Verdana;
  font-size: 14px;
}

button {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-family: "DM Sans";
  padding: 7px 15px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;

}


.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.input {
  font-size: 30px;
  padding: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: gray;
  border-radius: 5px;
  font-family: 'DM Sans', FontAwesome, sans-serif;
  margin-top: 10px;
  transition: all 0.4s;
  width: 400px;
  position: relative;
}

.input:focus {
  width: 600px;
}

h3 {
  font-family: Verdana;
}

/* w3schools */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#homepage-cards {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card i {
  font-size: 100px;
  margin-top: 5px;
}

.card img {
  aspect-ratio: 1 / 1;
  height: 100px;
  margin-top: 5px;
  border-radius: 5px;
}

.card {
  border-radius: 3vh;
  font-family: "DM Sans";
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
  margin: 3px;
  text-align: center;
  width: 10%;
}

.card:hover {
  box-shadow: 2px 2px 13px #575b5c;
  /*transform: scale(1.05);*/
}

.card>* {
  flex: 1 1 160px;
}

.description {
  font-size: 10px;
}



#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
}

.bk-label {
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
}

.homebutton {
  width: 200px;

  margin: 20px 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  opacity: 0.7;
  transition: 0.4s all;
}

#container {
  height: calc(100vh - (75px + 25px));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

#search {
  font-family: "DM Sans";
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  height: 25px;
  margin: 5px;
}


#prxy {
  height: 100%;
  width: 100%;
  margin: 10px;
  border: none;
  border-radius: 15px;
}

#gameInfo {
  width: 25%;
  height: 100%;
}

#frame {
  width: 75%;
  height: 100%;
  border-radius: 10px;
}
#gameInfo .yes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25% 25px;
}

#gameInfo div img {
  aspect-ratio: 1 / 1;
  height: 75px;
  border-radius: 5px;
}

#gameInfo div h3 { margin-left: 15px; }

#gameInfo { position: relative; }

#gameInfo #menubtns {
  position: absolute;
  bottom: 15px;
  width: 100%;
}
#menubtns button {
  border: 3px solid white;
  font-family: "DM Sans";
  padding: 7px 15px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
  opacity: 0.7;
  transition: 0.4s all;
  margin: 5px 5px;
}

#menubtns button:hover {
  opacity: 1;
  scale: 1.1;
}

#gameInfo #gameDescription {
  margin: 15px;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.btngroup {
  height: calc(100vh - (75px + 15px));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.btngroup div {
  box-sizing: border-box;
  flex: 1 0 250px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}