nav {
  /*background-color: rgba(51,51,51,0.5);
  box-shadow: 0 0 15px 2px rgba(51,51,51,.5);*/
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
 
}
.container {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

nav ul li {
  margin: 0 10px;
  transition: all 0.6s;
}


nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  /*padding: 10px;*/
  font-family: "DM Sans";
  transition: all 0.6s;
  padding-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}
nav a:hover {
  color: white;
}
nav img {
  height: 40px;
}

nav a i, nav a ion-icon {
  margin-right: 5px;
  font-size: 20px;
}